<section class="feature-section__container">
  <div class="feature-section__wrapper-title">
    <h1 class="feature-section__title">Tailor-made features</h1>
    <p class="feature-section__text">
      Lorem ipsum is common placeholder text used to demonstrate the graphic
      elements of <br />
      a document or visual presentation.
    </p>
  </div>
  <div class="feature-section__wrapper-card">
    <mat-card class="feature-section__card" *ngFor="let item of featureList">
      <mat-card-header>
        <img mat-card-image [src]="item.src" alt="icon" />
      </mat-card-header>
      <mat-card-content>
        <h1>{{ item.title }}</h1>
        <p [innerHTML]="item.text"></p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
