<nav class="navbar__container">
  <div class="navbar__menu">
    <img src="assets/logo.png" alt="image logo" class="navbar__menu__image" />
    <span class="navbar__menu__option">Features</span>
    <span class="navbar__menu__option">Pricing</span>
    <span class="navbar__menu__option">Careers</span>
    <span class="navbar__menu__option">Ayuda</span>
  </div>
  <div class="navbar__button-container">
    <button mat-flat-button color="primary" routerLink="/login">Iniciar Sesión</button>
    <button mat-flat-button class="navbar__button--secondary">Regístrate</button>
  </div>
</nav>
