<footer class="footer__container">
  <div class="footer__column">
    <img src="assets/logomark.png" alt="logo image" class="footer__logo" />
    <div class="footer__row">
      <span> Download Now </span>
      <span> License </span>
    </div>
    <div class="footer__row">
      <span> About </span>
      <span> Features </span>
      <span> Pricing </span>
      <span> News </span>
      <span> Help </span>
      <span> Contact </span>
    </div>
    <pre>© 2021 Landify UI Kit. All rights reserved</pre>
  </div>
  <div class="footer__column">
    <img src="assets/logomark.png" alt="logo image" class="footer__logo" />
    <div class="footer__row">
      <span> Contáctanos </span>
    </div>
    <div class="footer__row">
      <span> Whatsapps </span>
      <span> 978 566 567 </span>
      <span> 967 567 565 </span>
    </div>
    <pre>© 2021 Landify UI Kit. All rights reserved</pre>
  </div>
  <div class="footer__column">
    <p>Get the App</p>
    <img src="assets/storebadge1.png" alt="donwload app in ios" class="" />
    <img
      src="assets/storebadge2.png"
      alt="donwload app in android"
      class=""
    />
  </div>
</footer>
