<section class="main-section__container">
  <app-navbar></app-navbar>
  <div class="main-section__info">
    <div class="main-section__info-wrapper">
      <h1 class="main-section__info-wrapper__title">The easiest way to<br> manage projects</h1>
      <p class="main-section__info-wrapper__text">
        From the small stuff to the big picture, organizes the work so teams
        know<br> what to do, why it matters, and how to get it done.
      </p>
      <div class="main-section__info-wrapper__buttons">
        <button mat-flat-button color="primary">Get Started</button>
        <button mat-icon-button>
          <mat-icon>play_circle_outlined</mat-icon>
          Watch Video
        </button>
      </div>
    </div>
    <img src="assets/mobile.png" alt="mobile image" class="main-section__info-image">
  </div>
</section>
